body{
	background-image: url("img/fondo.png");
	background-position: center;
	background-size: cover;
	max-height: 50%;
	max-width: 70%;
    position: static;
    font-family: monospace;
}

/*---------- CABECERA -------------*/
.cabecera{
 	height: 200px;
    width: 130%;
}

img.titulo{
	width: 170px;
	height: 170px;
}

.titulo{
	float: center;
	margin-left: 30%;
	margin-top: 0%;
	width: 40%;
}

img.avatar{
	width: 90px;
	height: 90px;
}

.avatar{
	float: right;
	margin-right: 1%;
	margin-top: 2%;
	width: 40%;
}

p.avatar{
	float:right;
	margin-top: 20%;
	margin-right: -40%;
}
/* ---------- MENU -------*/
.menu{
   width: 114.45%;
   margin-left: 10%;
}
.menu ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    padding: 0;
    background-color: #8CD4F2;
    border: 1px solid #1E90FF;
    font-size:16.65px;
}
.menu li{
    float: left;
}
.menu li a {
    display: block;
    /*width: 100%;*/
    padding: 10px 12.1px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #1E90FF;
}
.menu li a.active {
    background-color: #00ccff;
    color: white;
}

.menu li a:hover:not(.active) {
    background-color: #AFEEEE;
    color: blue;
}
/*------------- PIE ------------*/
.pie{
	height: 3.8em;
	width: 143%;
	background-color: #333;
	color: #fff;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 400px;
	margin-left: -1%;
}
/*------------ NOTICIAS -----------*/
.noticias{
	height: 20%;
	width: 50%;
	margin-left: 10%;
	padding:12px;
	background-color:#8CD4F2;
	line-height:1.4;
	opacity: 0.75;
	margin-top: 3%;
	
}

.noticiasBanner{
	height:55%;
	width: 55%;
	margin-left: 69%;
	margin-top: -270px;
}